.idea/
.DS_STORE

# git
.git/
**/.gitattributes
**/.gitignore

# build tools
build/

# backend
server/.air/
server/cmd/assets/generated_assets.go

# frontend
**/node_modules/
web/**/*.tsbuildinfo
web/**/.eslintcache
web/**/build/
web/**/dist/
web/**/screenshots
web/*-debug.log
web/.yarn
web/coverage

# docs
docs/
