.idea/
.DS_STORE

# git
.git/
**/.gitattributes
**/.gitignore

# build tools
build/

# backend
server/.air/
server/cmd/assets/generated_assets.go

# frontend
**/node_modules/
ui/**/*.tsbuildinfo
ui/**/.eslintcache
ui/**/build/
ui/**/dist/
ui/**/screenshots
ui/*-debug.log
ui/.yarn
ui/coverage

# docs
docs/
